/* 
Brandon Namgoong
TEJ4M1
2026-03-26
Web Project
*/

body {
    margin: 0;
}

/* fonts */

@font-face {
    font-family: "SF Pro Display";
    font-weight: 600;
    src: url("./fonts/SF-Pro-Display-Semibold.otf");
}

@font-face {
    font-family: "SF Pro Text";
    font-weight: 400;
    src: url("./fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
    font-family: "SF Pro Text";
    font-weight: 600;
    src: url("./fonts/SF-Pro-Text-Semibold.otf");
}

/* type classes */

h1 {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 64px;

    color: black;
}

h2.light {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 40px;

    color: black;
}

h2.dark {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 40px;

    color: white;
}

h3 {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 28px;

    color: gray;
}

p {
    font-family: "SF Pro Text";
    font-weight: 400;

    color: black;
}

b {
    font-weight: 600;

    color: black;
}

/* divs */

.hero-parent {
    background-color: white;
    height: 720px;

    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 64px;
}

.hero-text {
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-image {
    display: flex;
    align-items: stretch;
}

.bento-parent {
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;

    padding-left: 256px;
    padding-right: 256px;
    padding-top: 24px;
    padding-bottom: 96px;
    
    gap: 24px;
}

.bento-multi-container {
    display: flex;
    gap: 24px;
}

.bento-box-light {
    background-color: white;
    width: 100%;
    height: 550px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 24px;
    overflow: hidden;
}

.bento-box-dark {
    background-color: black;
    width: 100%;
    height: 550px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 24px;
    overflow: hidden;
}

.bento-box-light-wide {
    background-color: white;
    height: 550px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 36px;
    padding-right: 36px;

    border-radius: 24px;
    overflow: hidden;
}

.bento-box-dark-wide {
    background-color: black;
    height: 550px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 36px;
    padding-right: 36px;

    border-radius: 24px;
    overflow: hidden;
}

.bento-box-text {
    text-align: center;
}

.bento-box-image {
    width: 100%;

    display: flex;
    justify-content: center;

    min-height: 0;
}

.bento-box-image-wide {
    height: 100%;

    display: flex;
    align-items: flex-end;
}